/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f2f2f2;
	padding: 10px;
	border-bottom: 2px solid #d8d8d8;
}

.logo {
	font-size: 28px;
	margin: 0;
	font-weight: bold;
}

.icon {
	width: 24px;
	height: 24px;
	margin-left: 8px;
	margin-right: 2px;
  }

.header-button {
	background-color: #4caf50;
	color: white;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

.header-button:hover {
	background-color: #6acd6d;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
	display: none;
  }
  
  .popup-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	z-index: 1000;
	display: none;
  }
  
  .popup-content {
	text-align: left;
  }
  
  .form-title {
	margin-bottom: 22px;
	text-align: center;
  }
  
  .form-group {
	margin-bottom: 20px;
  }
  
  label {
	display: block;
	font-weight: bold;
  }
  
  input[type="text"] {
	width: 100%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
  }
  
  .form-actions {
	text-align: center;
  }

  .submit-button{
	background-color: #4caf50;
	color: #fff;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
  }

  .submit-button:hover {
	background-color: #6acd6d;
  }
  
  .close-button {
	background-color: #eb5858;
	color: #fff;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
  }
  
  .close-button:hover {
	background-color: #fe8989;
  }

.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	padding: 10px;
}

.grid-item {
	background-color: #f2f2f2;
	border: 2px solid #eb5858; 
	transition: border-color 0.3s; 
	padding: 10px;
	text-align: left;
	position: relative;
}

.grid-item.green-border {
	border-color: #4caf50; 
}

.index{
	display: grid;
}

.book-title,
.author,
.pages,
.read {
	margin: 5px 0;
}

.read{
	color:#eb5858;
}

.green-text {
	color:#4caf50;
}

.delete-button {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 14px;
	height: 14px;
	background-color: #eb5858; 
	border: none;
	cursor: pointer;
  }
  
  .delete-button:before,
  .delete-button:after {
	content: "";
	position: absolute;
	width: 2px;
	height: 8px;
	background-color: white;
	top: 3px;
	left: 6px;
  }
  
  .delete-button:before {
	transform: rotate(45deg);
  }
  
  .delete-button:after {
	transform: rotate(-45deg);
  }
  
  .delete-button:hover {
	background-color: #fe8989;
  }

.toggle-label {
	display: inline-block;
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 30px;
	height: 14px;
}

.toggle-input {
	display: none;
}

.toggle-slider {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	cursor: pointer;
	transition: 0.4s;
}

.toggle-slider:before {
	position: absolute;
	content: "";
	height: 10px;
	width: 10px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	border-radius: 5%;
	transition: 0.4s;
}

.toggle-input:checked+.toggle-slider {
	background-color: #4caf50;
}

.toggle-input:checked+.toggle-slider:before {
	transform: translateX(16px);
}
